*{
    margin: 0;
    padding: 0;
}

/* share style*/
.btn{
background-color: #FD6E0A;
color: white;
font-size: 20px;
font-weight: bold;
padding: 18px 36px;
border: none;
border-radius: 5px;
cursor: pointer;
}

header{
    background: url(images/developer.png) left 40px top 30px, url(images/header_bg.png) right bottom  #FFF8F3;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
nav #logo h2{
    color: #181818;
    font-size: 45px;
    font-weight: 900;
}
#logo #r{
    color: #FD6E0A;
}
#menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}
#menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#button{
display: flex;
gap: 30px;
}

#button a{
    text-decoration: none;
    color: white;
}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 36px 0 230px;
}

#banner #banner-content{
    width: 585px;
    height: 356px;
}
#banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner-content h1{
    font-size: 85px;
    font-weight: 700px;
    color: #000000;
    margin-bottom: 20px;
}
#banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hardy-img img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about-container{
    background-color: #FFF8F3;
    width: 71%;
    margin: auto;
    padding: 131px 155px;
    text-align: center;
    border-radius: 10px;
}
#info-div{
    display: flex;
    justify-content: space-between;
}

#about-heading h2{
    padding-bottom: 30px;
    color: #181818;
    font-size: 35px;
    font-weight: bold;

}
#about-heading p{
    padding-bottom: 30px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}

.card-info p{
      color: #757575;
    font-size: 20px;
    line-height: 30px;
 }
 .card-info h4{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
 }

 #skill-section{
    width: 71%;
    margin: auto;
    padding-top: 130px;
 }
 #heading-section{
text-align: center;
}
#heading-section h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}
#heading-section p{
font-size: 18px;
color: #757575;
line-height: 30px;
padding-bottom: 50px;
}

#box-section{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.box{
    width: 260px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px #000000;
}
.box img{
    padding-bottom: 30px;
}
.box h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
.box p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume{
    width: 71%;
    margin: auto;
    padding-top: 130px;
}

#resume .resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

#resume-container{
    display: flex;
    gap: 71px;
    padding-top: 50px;
    justify-content: space-between;
}

#education h2, #experience h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

#resume-container h4{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 30px;
}
#resume-container .card-info{
    font-size: 20px;
    font-weight:600px;
    color: #757575;
    padding-bottom: 20px;
}
#resume-container .card-text{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
}